
h1 {
  color: violet;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9b9b9b;
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #910094;
}

.classy {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:teal;
  padding: 8px;
  margin: 8px;
}

p {
  margin: 8px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}


div {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}
